{{- if eq .chezmoi.os "darwin" }}
# Add brew to path
eval $({{ template "brew-prefix" . }}/bin/brew shellenv)

# Use brew installed GNU utilities over macOS built-ins
export PATH="{{ output "brew" "--prefix" "coreutils" | trim }}/libexec/gnubin:$PATH"
export PATH="{{ output "brew" "--prefix" "gnu-sed" | trim }}/libexec/gnubin:$PATH"
export PATH="{{ output "brew" "--prefix" "grep" | trim }}/libexec/gnubin:$PATH"
{{- end }}
