{{- if eq .chezmoi.os "darwin" }}
# Add brew to path
eval $({{ template "brew-prefix" . }}/bin/brew shellenv)

# Use brew installed GNU utilities over macOS built-ins
export PATH="{{ template "brew-prefix" . }}/opt/coreutils/libexec/gnubin:$PATH"
export PATH="{{ template "brew-prefix" . }}/opt/gnu-sed/libexec/gnubin:$PATH"
export PATH="{{ template "brew-prefix" . }}/opt/grep/libexec/gnubin:$PATH"

export PATH=~/.local/bin:$PATH
export PATH=~/.local/share/bin:$PATH
{{- end }}

{{- if .isWorkComputer }}
# asdf version manager (required by Sendoso oso-cli)
export PATH="$HOME/.asdf/shims:$PATH"

# Sendoso oso-cli
export PATH="$HOME/src/sendoso/oso-cli:$PATH"
{{- end }}
